.genomics-main {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  align-items: center;
}
#aiml-main {
  /* background-image: url("../../assets/genomicsbg.svg");
  background-size: cover; */
}
#elnlims-main {
  /* background-image: url("../../assets/elnlimsbg.svg"); */
  /* background-size: cover; */
  /* background-position: -250px; */
}
#vr-main {
  /* background-image: url("../../assets/genomicsbg.svg");
  background-size: cover; */
}
#biology-main {
  /* background-image: url("../../assets/biologybg.svg"); */
  /* background-size: cover; */
  /* background-position: -250px; */
}
#comchemistry-main {
  /* background-image: url("../../assets/genomicsbg.svg");
  background-size: cover; */
}
#genomics-main {
  /* background-image: url("../../assets/genomicsbg.svg"); */
  /* background-size: cover; */
  /* background-position: -250px; */
}
#chemistry-main {
  /* background-image: url("../../assets/genomicsbg.svg");
  background-size: cover; */
}
#dmpk-main {
  /* background-image: url("../../assets/genomicsbg.svg");
  background-size: cover; */
}
.product-head-title {
  padding: 2%;
  font-weight: 550;
}
.main-cards {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
}
.products-contents-individual {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}
.products-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  /* align-items: center; */
}

.main-cards::-webkit-scrollbar,
.products-contents-individual::-webkit-scrollbar {
  display: none;
}

.card-container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 3%;
  height: 68.5vh;
  transition: all 0.7s;
}
.card-container:hover {
  background-color: #eaf6fb;
  /* background-color: red; */
  cursor: pointer;
}
.card-subdatas {
  overflow-y: hidden;
  text-align: justify;
  color: #667085;
  font-size: 14px;
  margin-top: 5%;
  margin-left: 1.5%;
}

.card-container::-webkit-scrollbar,
.card-subdatas::-webkit-scrollbar {
  display: none;
}
.products {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.title-nav {
  margin-top: 6%;
}
.product-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.title-nav {
  font-weight: 500;
  box-shadow: black;
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
  margin-top: 10px;
  font-size: 16px;
}

.content-nav {
  margin-top: 5px;
  font-size: 14px;
  /* text-align: center; */
  color: rgb(135, 133, 133);
}
.ytvideo {
  border-radius: 20px;
  margin-top: 3%;
  width: 100%;
  height: 94%;
  overflow-y: hidden;
}
.youtube-video-mara {
  /* height: 20vh; */
  overflow-y: hidden;
}
.icon-container {
  margin-left: 10%;
  border-radius: 50%;
  padding: 4%;
  width: 35px;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.title-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 20px 12px;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 4), transparent); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.title-productspage {
  font-size: 27px;
  font-weight: 600;
  color: #000000;
  display: flex;
  height: 25vh;
  /* background-color: rgb(190, 245, 245); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.title-name {
  margin-top: 5%;
  font-size: 18px;
  font-weight: 800;
  color: #e87a0c;
  margin-left: 12px;
}
.subtitle-name {
  margin-top: 2%;
  font-size: 15px;
  font-weight: 550;
  margin-left: 12px;
  height: 5vh;
  color: rgb(9, 9, 153);
}

.brief-contents {
  line-height: 1.4rem;
  font-size: 15px;
}
.bronchure {
  display: flex;
  border-radius: 20px;
  /* padding: 0.3%; */
  border: none;
  background-color: #565add;
  color: white;
  height: 5.5vh;
  width: 9.5vw;
  align-items: center;
  margin-left: 1%;
  /* margin-top: 2%; */
  transition: "background-color 0.3s ease";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.bronchurewithoutyt {
  display: flex;
  border-radius: 20px;
  /* padding: 0.3%; */
  border: none;
  background-color: #565add;
  color: white;
  height: 5.5vh;
  width: 9.5vw;
  align-items: center;
  margin-left: 50%;
  /* margin-top: 2%; */
  transition: "background-color 0.3s ease";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.bronchurewithoutdownload {
  display: flex;
  height: 5.5vh;
  /* width: 9.5vw; */
  align-items: center;
  /* margin-left: 70%; */
  /* margin-top: 2%; */
  cursor: pointer;
}
.bronchure-t{
  margin-left: auto;
  margin-right: 0;
}
.bronchure-yt {
  display: flex;
  /* border-radius: 20px; */
  /* padding: 0.3%; */
  /* border: none; */
  /* background-color: #565add; */
  /* color: white; */
  height: 5.5vh;
  width: 3vw;
  align-items: center;
  margin-left: 47%;
  /* margin-top: 1.5%; */
  transition: "background-color 0.3s ease";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.icon-container {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.icon-container-yt {
  /* width: 150px; */
  display: inline-block;
  margin-left: 0px;
  position: relative;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.bronchure:hover,
.bronchure-yt:hover {
  /* background-color: #1520e2; */
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); */
  transform: translateY(-5px);
}

.bronchure::before,
.bronchure-yt::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 300%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 10%,
    transparent 10.01%
  );
  background-size: 10px 10px;
  transition: all 0.4s ease-in-out;
}

.bronchure:hover::before,
.bronchure-yt::before {
  left: 0;
  top: 0;
  animation: ripple 1s infinite;
}

@keyframes ripple {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.bronchure:hover .icon-container {
  /* transform: scale(1.3) rotate(360deg); */
}

#start-icons {
  /* transition: opacity 0.3s ease; */
}
/* 
.bronchure:hover #start-icons {
  opacity: 0;
} */
.img-genomics {
  width: 2vw;
}
.search-bar-genomics {
  width: 300px;
}
#start-icons {
  background-color: white;
  color: black;
  border-radius: 50%;
  /* padding: 10%; */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  /* opacity: 1;  */
  /* transform: rotate(0deg);  */
  /* transition: opacity 0.3s ease, transform 0.3s ease;  */
  /* Smooth transition */
}
.yt-img {
  /* width: 40px; */
  margin-top: 5%;
}
#download-icon {
  font-size: 5px;
  width: 30px;
  height: 20px;
  margin-left: 5%;
  /* display: none; */
}
.bottom-buttons {
  display: flex;
  align-items: center;
  margin: 3% 0% 0% 2%;
  /* width: 100%; */
  /* gap: 6.8rem; */
  /* border: 1px solid black; */
  /* justify-content: end; */
}
.bottom-buttons-yt {
  margin-left: 68%;
  margin-top: 3%;
  width: 40%;
}
.brief-contents {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.button-container-brochure {
  margin: 3% 0% 0% 3%;
}

.brief-contents.collapsed {
  height: 19vh;
  margin-left: 2%;
  color: #000000;
  /* font-size: 15px; */
}

.brief-contents.expanded {
  max-height: none; /* Allows the full text to be shown */
  overflow-y: scroll;
  height: 20vh;
  color: black;
}
.brief-contents.expanded::-webkit-scrollbar,
.youtube-video::-webkit-scrollbar,
.yt-dialog::-webkit-scrollbar {
  display: none;
}

.view-button {
  /* margin-top: 2%; */
  margin-bottom: 2%;
  margin-left: 77%;
  /* text-decoration: underline; */
  color: rgb(35, 35, 250);
  cursor: pointer;
  /* height: 5vh;
  background-color: #667085; */
}
.yt-dialog {
  margin: 4% 0% 0% 0%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-video {
  width: 80vw;
  height: 100%;
  overflow-y: hidden;
}
.yt-dialog-mara {
  margin: 4% 0% 0% 10%;
  width: 80vw;
  height: 77vh;
  /* overflow-y: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.youtube-video-mara {
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
}
.youtube-video::-webkit-scrollbar,
.yt-dialog::-webkit-scrollbar {
  display: none;
}
dialog {
  display: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 3%;
}
.presentation {
  /* color: rgb(255, 0, 0); */
  /* text-decoration: underline; */
  width: 100%;
  margin-left: 5%;
  margin-top: 4%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.video-icon {
  width: 2vw;
  text-align: center;
}
.title-products-ab {
  position: absolute;
  z-index: 1000;
}


/* small laptop view  */
@media (max-width: 1300px) and (min-width: 650px) {
  .genomics-main{
    /* display: none; */
  }
  .products-contents,
  .products-contents-individual {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .bottom-buttons,.bottom-buttons-yt,.button-container-brochure{
    margin-top: 0%;
  }
}
/* Mobile in desktop site mode - Portrait */
@media (min-width: 651px) and (max-width: 1024px) and (orientation: portrait) {
  .card-container {
    width: 90%;
    height: 30vh;
  }
  .title-productspage{
    height: 10vh;
  }
  .brief-contents.collapsed{
    height: 8vh;
    margin-top: 0%;
  }
  .bottom-buttons{
    margin-top: 3%;
  }
  .card-subdatas{
    margin-top: 0%;
    height: 10vh;
  }
  .subtitle-name{
    height: 4vh;
  }
  .view-button{
    margin-top: 3%;
    /* margin-left: -0%; */
  }
}

/* Mobile responsive view */
@media (max-width: 650px) and (max-height: 740px) {
  .genomics-main {
    display: contents;
    padding: 2% 2% 5% 2%;
    overflow-x: hidden;
  }
  .img-genomics {
    width: 7vw;
    margin-top: 4%;
  }
  .search-bar-genomics {
    width: 70vw;
  }
  .icon-container {
    margin-left: 0%;
    margin-top: 9%;
  }
  .right-contents-products {
    padding: 2%;
    overflow-y: scroll;
  }
  .ytvideo {
    width: 90%;
    height: 90%;
  }
  .brief-contents {
    line-height: 1.5rem;
    font-size: 13px;
  }
  .subtitle-productspage {
    font-size: 15px;
  }
  .title-productspage {
    font-size: 30px;
  }
  .products-contents,
  .products-contents-individual {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
  }
  .view-button {
    margin-left: 77%;
  }
  .card-container {
    width: 90%;
  }
  .bronchurewithoutyt {
    margin-left: 80%;
  }
  .bottom-buttons {
    /* gap: 5.6rem; */
    margin-top: 7%;
  }
  .bottom-buttons-yt {
    margin-left: 70%;
  }
  #download-icon {
    font-size: 3vw;
  }
  .brief-contents.collapsed {
    height: 16vh;
  }

  .brief-contents.expanded {
    max-height: none;
    overflow-y: scroll;
    height: 17vh;
  }
  .yt-dialog {
    margin-top: 40%;
    height: 40vh;
    background-color: transparent;
  }
  .youtube-video {
    width: 80vw;
    height: 100%;
    width: 20vw;
  }
  .video-icon{
    width: 5vw;
  }
}
